#add-product .form-label {
  font-weight: 500;
  font-size: 18px;
}

.buy {
  margin-top: -10px;
}

.file {
  height: 36px;
}

.add-product{
background-image: url("C:\Users\Lenovo\Desktop\WEBUSM\crafthaven newest(nonodes)\crafthaven v2 (2)\crafthaven\src\components\SellerPages\img\8.jpg");
  opacity: 2.8;
background-size: cover;
height: auto;

}