.bgimg{
background:url("C:\Users\Lenovo\Desktop\WEBUSM\crafthaven newest(nonodes)\crafthaven v2 (2)\crafthaven\src\components\SellerPages\img\bg3.jpg");
opacity: 2.8;
background-size: cover;
height: auto;

}


